*{
    margin:0;
    padding；0;
}
body{
    font-size: 12px;
    line-height:1.5px;
    -webkit-font-smoothing: antialiased;
    font-family:tahoma,arial,"\5b8b\4f53;
    
}
a{
    text-decoration: none;
    
}
ul{
    list-style:none;
}

.wrapper{
    width:1230px;
    margin:0 auto;
}
.list-arrow::after{
    content:'';
    width: 0;
    height: 0;
    border:3px solid transparent;
    border-top:3px solid #bbb;
    position:absolute;
    right:8px;
    top:15px;
}
